NODE_ENV=development
PORT=5555
HOST=0.0.0.0

BUCKET_REGION=us-east-1
BUCKET_ENDPOINT=http://localhost:9000
BUCKET_NAME=defaultbucket
BUCKET_ACCESS_KEY_ID=mykey
BUCKET_ACCESS_KEY=mysecret

HEALTH_CHECK_IMAGE_KEY=000-health-check-image-000