NODE_ENV=development
PORT=5555
HOST=0.0.0.0

X_API_KEY=key
X_API_SECRET=secret
X_API_TOKEN_SIGN_KEY=super-secret-key

BUCKET_REGION=us-east-1
BUCKET_ENDPOINT=http://minio:9000
BUCKET_NAME=defaultbucket
BUCKET_ACCESS_KEY_ID=mykey
BUCKET_ACCESS_KEY=mysecret

HEALTH_CHECK_IMAGE_KEY=000-health-check-image-000
IMAGE_KEY_ENCRYPTION_KEY=super-secret-key